/* レイアウト
l-main
----------------------------------------*/
@use "../global" as g;

.l-main {
  overflow: hidden;
  color: g.$white;
  
  // 汎用のセクション
  &__inner {
    @include g.section-width();
  }
  &__section {
    padding-top: 1rem;
    padding-bottom: 15rem;

    @include g.mq-down() {
      padding-bottom: 10rem;
    }
  }

  &__detail {
    &-section {
      color: g.$white;

      h2 {
        text-align: center;
        font-size: 2.4rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-bottom: 1rem;

        @include g.mq-down() {
          font-size: 2rem;
          margin-top: 2.2rem;
        }

        &.en {
          text-align: left;
          font-size: 5rem;
          line-height: 1.2;
          letter-spacing: 0.025em;
          margin-bottom: 4rem;

          @include g.mq-down() {
            font-size: 4rem;
            margin-bottom: 1rem;
          }
        }
      }

      p {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2;
        letter-spacing: 0.05em;

        @include g.mq-down() {
          font-size: 1.3rem;
        }
      }
    }

    &-recommend {
      &-list {
        display: flex;
        justify-content: space-between;

        @include g.mq-down() {
          display: block;
          width: 100%;
        }
      }

      &-item {
        width: 31.7%;

        @include g.mq-down() {
          width: 100%;
          margin-bottom: 3rem;

          &:last-child {
            margin-bottom: 0;
          }
        }

        figure {
          margin-bottom: 0.8rem;
        }

        figcaption {
          font-size: 1.4rem;
          font-weight: normal;
          text-align: center;
        }
      }
    }
  }

  &__two-column {
    display: flex;
    justify-content: space-between;

    @include g.mq-down(lg) {
      display: block;
    }
  }

  &__contents {
    width: 67.7%;

    @include g.mq-down(lg) {
      width: 100%;
    }
  }

  &__side {
    width: 23.5%;

    @include g.mq-down(xl) {
      width: 27.5%;
    }
    @include g.mq-down(lg) {
      width: 89.8%;
      margin: 5.6rem auto 0;
    }

    h3 {
      font-size: 1.4rem;
      border-bottom: .4rem solid g.$white;
      padding-bottom: 1rem;
      margin-bottom: 1.5rem;

      .en {
        font-size: 4rem;
        letter-spacing: 0.025em;
        line-height: 1;
        margin-right: 3rem;

        &::after {
          content: "";
          position: absolute;
          background: #707070;
          width: .1rem;
          height: 3rem;
          right: -1.5rem;
          top: 1rem;
        }
      }
    }
  }
}
