/* コンポーネント
c-tab
----------------------------------------*/
@use "../global" as g;

.c-btn {
    &__contact {
        margin-top: 6rem;
        margin-bottom: 8rem;
        text-align: center;

        @include g.mq-down() {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }

        &-text {
            margin-bottom: 2.6rem;

            @include g.mq-down() {
                margin-bottom: 1.8rem;
            }

            a {
                font-size: 1.4rem;
                font-weight: 400;
                text-decoration: underline;
            }
        }

        &-more {
            width: 31.7rem;
            max-width: 90%;
            margin: 0 auto;

            a {
                display: block;
                background: g.$notice-color;
                color: g.$white;
                font-family: g.$font-family-english2;
                font-size: 2.4rem;
                font-weight: 400;
                letter-spacing: 0.025em;
                line-height: 1.1;
                border-radius: 6.4rem;
                padding: 1.7rem 0;
            }
        }
    }

    &__more {
        a {
            display: block;
            width: 9.2rem;
            font-size: 1.6rem;
            font-weight: bold;
            border-bottom: 2px solid g.$white;
            padding-bottom: 0.3rem;
            margin: 0 auto;

            &::before {
                content: "";
                position: absolute;
                display: block;
                background: url(../img/common/ico-arrow02.svg) no-repeat;
                background-size: 100% 100%;
                width: 4.2rem;
                height: 4.2rem;
                bottom: -0.8rem;
                right: -5.95rem;
            }
        }
    }

}
