/* コンポーネント
c-pager
----------------------------------------*/
@use "../global" as g;

.c-pager {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include g.mq-down() {
        margin-top: 6.4rem;
    }

    &__link {
        a {
            width: 4.6rem;
            display: block;
            font-family: g.$font-family-english2;
            font-size: 2rem;
            padding: 1.3rem 0 1.5rem;
            border-radius: .6rem;
            line-height: 1;
            text-align: center;
            color: rgba(255,255,255,0.25);

            @include g.mq-down() {
                width: 4.6rem;
                padding: 1.3rem;
            }
        }

        &.last {
            @include g.mq-down() {
                display: none;
            }
        }

        &.current {
            a {
                color: g.$white;
            }
        }

        &-prev,
        &-next {
            a {
                width: 4.2rem;
                height: 4.2rem;
                display: block;
                border-radius: .6rem;
                display: block;

                @include g.mq-down() {
                    width: 4.2rem;
                    height: 4.2rem;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: url(../img/common/ico-arrow.svg) no-repeat;
                    background-size: 100%;
                    width: 4.2rem;
                    height: 4.2rem;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                
            }
        }

        &-prev {
            margin-right: 4rem;

            @include g.mq-down() {
                margin-right: 2rem;
            }

            a {
                &::before {
                    transform: translate(-50%, -50%) scale(-1, 1);
                }
            }
        }
        &-next {
            margin-left: 4rem;

            @include g.mq-down() {
                margin-left: 2rem;
            }
        }

    }

    &__simple {
        display: flex;
        justify-content: center;

        @include g.mq-down(lg) {
            justify-content: space-between;
        }

        &-prev,
        &-next {
            margin: 0 5rem;

            @include g.mq-down(lg) {
                margin: 0;
                width: 43.4%;
                max-width: 15rem;
            }

            a {
                display: block;
                width: 9.2rem;
                font-size: 1.6rem;
                font-weight: bold;
                border-bottom: 2px solid g.$white;
                padding-bottom: 0.3rem;
                margin: 0 auto;

                @include g.mq-down(lg) {
                    margin: 0;
                }
    
                &::before {
                    content: "";
                    position: absolute;
                    display: block;
                    background: url(../img/common/ico-arrow02.svg) no-repeat;
                    background-size: 100% 100%;
                    width: 4.2rem;
                    height: 4.2rem;
                    bottom: -0.8rem;
                    right: -5.95rem;

                    @include g.mq-down(lg) {
                        right: -62%;
                        width: 45%;
                    }
                    @include g.mq-down(sm) {
                        right: -43%;
                        width: 40%;
                    }
                }
            }
        }

        &-prev {
            a {
                text-align: right;

                @include g.mq-down(lg) {
                    margin: 0 0 0 auto;
                }

                &::before {
                    right: inherit;
                    left: -5.95rem;
                    transform: scale(-1,-1);

                    @include g.mq-down(lg) {
                        left: -62%;
                    }

                    @include g.mq-down(sm) {
                        left: -43%;
                    }
                }
            }
        }
    }
    
}
