/* コンポーネント
c-pager
----------------------------------------*/
@use "../global" as g;

.c-pager {
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include g.mq-down() {
        margin-top: 6.4rem;
    }

    &__link {
        a {
            width: 4.6rem;
            display: block;
            font-size: 1.8rem;
            padding: 1.3rem 0 1.5rem;
            border-radius: .6rem;
            line-height: 1;
            text-align: center;

            @include g.mq-down() {
                width: 4.6rem;
                padding: 1.3rem;
            }
        }

        &.last {
            @include g.mq-down() {
                display: none;
            }
        }

        &.current {
            a {
                background: g.$white;
            }
        }

        &-prev,
        &-next {
            a {
                background: g.$black;
                width: 4.6rem;
                height: 4.6rem;
                display: block;
                border-radius: .6rem;
                display: block;

                @include g.mq-down() {
                    width: 4.6rem;
                    height: 4.6rem;
                }

                &::before {
                    content: "";
                    position: absolute;
                    background: url(../img/common/ico-arrow.svg) no-repeat;
                    background-size: 100%;
                    width: 2.0rem;
                    height: 2.0rem;
                    z-index: 1;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
                
            }
        }

        &-prev {
            margin-right: 2.8rem;

            @include g.mq-down() {
                margin-right: 2rem;
            }

            a {
                &::before {
                    transform: translate(-50%, -50%) scale(-1, 1);
                }
            }
        }
        &-next {
            margin-left: 2.8rem;

            @include g.mq-down() {
                margin-left: 2rem;
            }
        }

    }
    
}
